### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#setting it as a list
purchase_data_list = list(purchase_data)

#counting everything in that dataframe column
df_pymoli = pd.DataFrame(purchase_data)

#counting only unique values
df_pymoli_count = len(df_pymoli.SN.unique())

#turning it back into dataframe
pd.DataFrame({"Total Player":[df_pymoli_count]})

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
num_unique = len(df_pymoli['Item ID'].unique())

arr_purchAnalys = {'Number of Unique Items':[len(df_pymoli['Item ID'].unique())],'Average Price':[df_pymoli['Price'].mean().round(2)],'Number of Purchases':[len(df_pymoli['Purchase ID'])],'Total Revenue':[sum(df_pymoli['Price'])]}

df_arr_purchAnalys = pd.DataFrame(arr_purchAnalys)
df_arr_purchAnalys["Average Price"] = "$" + df_arr_purchAnalys["Average Price"].astype(str)
df_arr_purchAnalys["Total Revenue"] = "$" + df_arr_purchAnalys["Total Revenue"].round(2).astype(str)
df_arr_purchAnalys

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
df_pymoli_SN_unique = pd.DataFrame(df_pymoli['SN'].unique())
#df_pymoli['Gender'].unique()
df_pymoli_SN_unique
#dropping unique values from SN column
df_pymoli_SN_unique.apply(pd.Series.value_counts)
df_pymoli_dropped_dup_SN = df_pymoli.drop_duplicates(subset=['SN'])

#adding up gender numbers after dropped unique SN's
df_genders = df_pymoli_dropped_dup_SN['Gender'].value_counts()

pd.DataFrame(df_genders)

#changing column name
df_gender_count = pd.DataFrame(df_genders).rename(columns={'Gender': 'Total Count'})

#calculating perctange column
df_gender_count_perct = 100 * df_gender_count['Total Count']/df_gender_count['Total Count'].sum()
df_gender_count_perct = pd.DataFrame(df_gender_count_perct).rename(columns={'Total Count': 'Percentage of Players'})

#rounding to 2 decimal places
df_gender_count_perct['Percentage of Players'] = df_gender_count_perct['Percentage of Players'].round(2)

#adding percentage sign
df_gender_count_perct['Percentage of Players'] = df_gender_count_perct['Percentage of Players'] .astype(str) + '%'

#adding total count and percentage dataframe together
df_gender_demo_df = pd.concat([df_gender_count, df_gender_count_perct],axis=1) 
df_gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#defining new DF so original wont be altered
df_purch_analys = df_pymoli
#getting count of values and putting into new DF
df_purch_analys_final_df = pd.DataFrame(df_purch_analys["Gender"].value_counts())
df_purch_analys_final_df_priceSum = pd.DataFrame(df_purch_analys["Price"])

#rename first column to "Purchase Count" from "Gender"
df_purch_analys_final_df = df_purch_analys_final_df.rename(columns={'Gender': 'Purchase Count'})


#Adding Average Purchase Price to DF, then rounding to 2 decimals places and add $ to string
df_purch_analys_final_df["Average Purchase Price"] = pd.DataFrame("$" + df_purch_analys.groupby("Gender").mean()["Price"].round(2).astype(str))

#Adding Total Purchase Price to DF, then rounding to 2 decimals places and add $ to string
df_purch_analys_final_df["Total Purchase Price"] = ("$" + (df_purch_analys.groupby("Gender").mean()["Price"] * df_purch_analys_final_df["Purchase Count"]).round(2).astype(str))

#df_pymoli_dropped_dup_SN["Gender"].value_counts()  

#(df_purch_analys.groupby("Gender").mean()["Price"] * df_purch_analys_final_df["Purchase Count"])
#pd.DataFrame(df_pymoli_dropped_dup_SN["Gender"].value_counts()).reindex(["Female","Male","Other / Non-Disclosed"])

#list/index of avg totals purchase per person
avg_tot_per_person = ((df_purch_analys.groupby("Gender").mean()["Price"] * df_purch_analys_final_df["Purchase Count"])/df_gender_demo_df['Total Count']).round(2)

#reindexing to correct order as shown in HW
df_purch_analys_final_df = df_purch_analys_final_df.reindex(["Female","Male","Other / Non-Disclosed"])

#Adding Avg Total Purchase per Person column and then turning into string and "$"
df_purch_analys_final_df["Avg Total Purchase per Person"] = pd.DataFrame(("$" + avg_tot_per_person.astype(str)))

df_purch_analys_final_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [41]:
#set df_age_demo = df_pymoli so that original DF will be unaltered
df_age_demo = df_pymoli

#set the bins and group names for the binning and cut function
age_demo_bins = [0,9,14,19,24,29,34,39,100]
age_demo__group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#adding the bin column to df_age_demo then getting the value_count
df_age_demo["Total Count"] = pd.cut(df_pymoli_dropped_dup_SN["Age"], bins = age_demo_bins, labels = age_demo__group_names)
df_age_demo_VC = pd.DataFrame(df_age_demo['Total Count'].value_counts())

#Adding "Percentage of Players" column to final DF then multiplying by 100 and turning into string to add % sign
df_age_demo_VC["Percentage of Players"] = (100 * df_age_demo_VC["Total Count"]/sum(df_age_demo_VC["Total Count"])).round(2).astype(str) + "%"



#reindexing to get DF back in right order
df_age_demo_VC = df_age_demo_VC.reindex(age_demo__group_names)
df_age_demo_VC = pd.DataFrame(df_age_demo_VC)
df_age_demo = pd.DataFrame(df_age_demo_VC)
df_age_demo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

# * Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
df_purch_analys_age = df_pymoli

purch_analys_bins = [0,9,14,19,24,29,34,39,100]
purch_analys_group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

df_purch_analys_age["Purchase Count"] = pd.cut(df_pymoli["Age"], bins = purch_analys_bins, labels = purch_analys_group_names)

purch_analys_age_1 = df_purch_analys["Purchase Count"].value_counts()
purch_analys_age_1 = pd.DataFrame(purch_analys_age_1).reindex(purch_analys_group_names)
#df_purch_analys_age_1.groupby("Gender").mean()["Price"]
df_purch_analys_age_1 = purch_analys_age_1
df_purch_analys_age["Avg Total Purchase per Person"] = pd.cut(df_pymoli["Price"], bins = purch_analys_bins, labels = purch_analys_group_names)

#produces "Total Purchase Value" column list
df_pymoli.groupby('Purchase Count').Price.mean()

#produces "Total Purchase Value" column DF
df_purch_analys_age_3 = pd.DataFrame(df_pymoli.groupby('Purchase Count').Price.mean())
#df_purch_analys_age_3 = df_purch_analys_age_3.rename(columns = {"Price":""})

#Total Purchase Value
df_purch_analys_age_3.index.name = None
purch_analys_age_4 = df_purch_analys_age_3['Price'] * df_purch_analys_age_1['Purchase Count']

#Avg Total Purchase per Person index
purch_analys_age_5 = purch_analys_age_4 / df_age_demo['Total Count']

#Purchase count DF
df_purch_analys_age_1

#Average Purchase Price DF
df_purch_analys_age_3

#Adding Average Purchase Price to Purchase Count
df_purch_analys_age_1["Average Purchase Price"] = "$" + (df_purch_analys_age_3.round(2)).astype(str)

#Adding Total Purchase Value to final DF
df_purch_analys_age_1["Total Purchase Value"] = "$" + (purch_analys_age_4.round(2)).astype(str)
df_purch_analys_age_1["Avg Total Purchase per Person"] = "$" + (purch_analys_age_5.round(2)).astype(str)
df_purch_analys_age_1

#Answer DF
Final_Answer_DF = df_purch_analys_age_1
Final_Answer_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
df_pymoli